//Text colors
$main-text-color: #FFFFFF;
$secondary-text-color: #B70021;

//Background colors
$main-bc: #0B0B0B;
$secondary-bc: #690102;

%ibg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

